/* Add a gradient background to the body */
body {
    background: linear-gradient(135deg, #f06, #905);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

/* Style the container */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

/* Style the "Generate Password" button */
#generateButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

#generateButton:hover {
    background-color: #0056b3;
}

/* Style the form elements */
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Add animation for the password display */
#passwordDisplay {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    animation: pulse 2s infinite ease-in-out;
}

/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
